repos:
  - repo: https://github.com/maresb/check-json5
    rev: v1.0.1
    hooks:
    - id: check-json5
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent, "4"]
        exclude: .devcontainer/devcontainer.json|.vscode/settings.json|.vscode/tasks.json|.vscode/launch.json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-crlf
      - id: remove-tabs
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.36.1"
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
        args: [--ignore, LICENSE.md]
  - repo: https://github.com/python-poetry/poetry
    rev: "2.3.2"
    hooks:
    -   id: poetry-check
