# Application settings used by CLI and Prefect tasks See AppSettings for strongly typed python class

# Settings in this file can be overridden by environment variables e.g. MAG_FETCH_BINARY_API_URL_BASE=http://localhost:1234
# and by dictionaries passed into the constructor of the AppSettings class

# General application conifguration:
work_folder: '.work'
data_store:  'output/'
packet_definition: 'packet_def/'

# Command specific configuration:
check_ialirt:
    work_sub_folder:

fetch_binary:
    api:
        url_base: 'https://lasp.colorado.edu/ops/imap/poda/dap2/packets/SID2/'
        auth_code:
    work_sub_folder:
    publish_to_data_store: true

fetch_ialirt:
    api:
        url_base: 'https://ialirt.dev.imap-mission.com'
        auth_code:
    work_sub_folder:
    publish_to_data_store: true

fetch_science:
    api:
        url_base: 'https://api.dev.imap-mission.com'
        auth_code:
    work_sub_folder:
    publish_to_data_store: true

plot_ialirt:
    work_sub_folder:
    publish_to_data_store: true

publish:
    api:
        url_base: 'https://api.dev.imap-mission.com'
        auth_code:
    work_sub_folder:

process:
    work_sub_folder:

upload:
    root_path: "Flight Data"
    paths_to_match:
        - "*science/mag/l1b/*"
        - "*science/mag/l1c/*"
        - "*science/mag/l1d/*"
        - "*science/mag/l2/*"
        - "*science/mag/l2-pre/*"
        - "*science/mag/l2-norm-offsets/*"
        - "*science/mag/l2-burst-offsets/*"
        - "*hk/mag/l1/*"
        - "*hk/sc/l1/*"
        - "*ialirt/*"
        - "*quicklook/*"

postgres_upload:
    crump_config_path: imap-db-injest-config.yaml
    database_url_env_var_or_block_name: 'imap-database'
    enable_history: true
    paths_to_match:
        - "*hk/mag/l1/hsk-pw/*"
        - "*hk/mag/l1/hsk-sci/*"
        - "*hk/mag/l1/hsk-procstat/*"
        - "*hk/mag/l1/hsk-sid15/*"
        - "*hk/mag/l1/hsk-status/*"
        - "*hk/sc/l1/x285/*"
        - "*hk/sc/l1/x286/*"

datastore_cleanup:
    dry_run: false
    tasks:
        - name: "delete-all-non-latest-hk-versions"
          paths_to_match:
              - "*hk/mag/l0/*"
              - "*hk/mag/l1/*"
              - "*hk/sc/l0/*"
              - "*hk/sc/l1/*"
          files_older_than: "1h"
          keep_latest_version_only: true
          cleanup_mode: "delete"
        - name: "delete-all-non-latest-l1d-versions"
          paths_to_match:
              - "*science/mag/l1d/*"
          files_older_than: "1h"
          keep_latest_version_only: true
          cleanup_mode: "delete"
        - name: "delete-30day-old-non-latest-science-versions"
          paths_to_match:
              - "*science/mag/l1b/*"
              - "*science/mag/l1c/*"
          files_older_than: "30d"
          keep_latest_version_only: true
          cleanup_mode: "delete"
        - name: "delete-all-6week-old-quicklooks"
          paths_to_match:
              - "*quicklook/ialirt/**/*.png"
          files_older_than: "42d"
          keep_latest_version_only: false
          cleanup_mode: "delete"
